{% extends 'base.html.twig' %}


{% block links %}
    <ul>
        <li>
            {% if username is empty %}
                <h3><!-- not connected --></h3>
            {% else %}
                <h3>{{ username }} </h3>
            {% endif %}
            <a href="{{ path('home_page') }}">Home</a>
            <a href="{{ path('skill_home') }}">Skills</a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <strong>Are you sure to delete this skill : {{ skillToDelete.name }} ?</strong>
    <form method="POST" name="deleteSkillForm">
        <label for="yes">Yes</label>
        <input id="yes" type="radio" value="yes" name="deleteChoice[]">

        <label for="no">No</label>
        <input id="no" type="radio" value="no" name="deleteChoice[]">
        <br>
        <input type="submit" value="Accept!">
    </form>
{% endblock %}